*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.container{
    display: flex;
    max-width: 1158px;
    margin:0 auto;
    padding: 0 15px;
}
section{
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
}

body {
    width: 100%;
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color: #fff;
}
 a {
    text-decoration: none;
 }
 ul {
    list-style: none;
 }
 /*header*/
 .page-header{  
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 72px;
    background:#fff;
    border-bottom:1px solid #e7e9fc;   
 }
 .container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: auto;
    margin-right: auto;
    padding: 0 15px;  
 }
 .nav-page{  
    display: flex; 
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
 }
 .logo-header a{ 
     padding-top: 24px;
    padding-bottom: 24px;
     margin-right: 76px;
 }
 .logo-header{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
 }
 .logo-header span{
    color: #2e2f42;
 }
 .nav-page:hover{
    color: #404bbf;
 }
 .nav-page:focus{
    color: #404bbf;
 }
 .nav-list{ 
display: flex;
gap: 40px;
}
.nav-items:last-child{
    margin-right: 0;
}

 .page-contact{
   display: flex;
   gap:40px;
   padding-top: 24px;
   padding-bottom: 24px;
 font-style: normal;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
 }
 .page-contact:hover{
    color:#404bbf;;
}
 .page-contact:focus{
    color:#404bbf;
 }



 /*sec-1*/
 .section-title{
    max-width: 100%;
    max-height: 600px;
  padding-right: 0;
  padding-left: 0;
    padding-top: 188px;
    padding-bottom: 188px;
    background: #2e2f42;
 }
 .container-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        max-width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
    
 }
 .title{
   max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align:center;
        color: #fff;
        background: #2e2f42;
 }

.main-page-button{
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
     padding: 16px 32px;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
}
.main-page-button:hover{
    background: #404BBF;
}
.main-page-button:focus{
    background: #404BBF;
}
/* benefits*/
.section-benefits{
background-color: #FFFFFF;
padding-top: 120px;
padding-bottom: 120px;
}
.visually-hidden{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.title-benefit{
    margin-bottom: 8px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.benefit-list{
    display: flex;
    gap:24px;
    background-color: #FFFFFF;
}
.benefit-list:last-child{
    margin-right: 0;
}
.benefit-items{
    width: calc(( 100% - 72px) / 4);
}
.text-benefit{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


/*sec-3*/
.section-team{
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
    background: #f4f4fd;
}
.container-team{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
}
.main-title-team{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}
.team{
  display: flex;
  gap:24px; 
}
.team:last-child{
    margin-right: 0;
}
.team-descr {
    padding: 32px 0;
}
.title-team{
    margin-bottom: 8px;
    text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.text-team{
    text-align: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team-list{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 32px;  
        margin-top: 62px;
        margin-bottom: 120px;
        border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px 0px;
       width: calc ((100% - 72px) / 4);
        height: 380px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
    }


#our-team,
#our-portfolio{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;

}


/*sec-4*/
.section-portfolio{
    width: 100%;
        padding-top: 120px;
        padding-bottom: 120px;
        margin: 0 auto;
        background-color: #FFFFFF;
}
.container-portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
}
.main-title-portfolio{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
     font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.portfolio{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px; 
}
.portfolio:nth-child(3n){
    margin-right: 0;
}
.portfolio:nth-child(-n+3){
    margin-bottom: 0;
}

.portfolio-list{
width: calc((100% - 48px) / 3);
 background: #fff;
}

.portfolio-descr{
    display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
.title-portfolio{
    margin-bottom: 8px;
     align-items: flex-start;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.text-portfolio{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*footer*/
.section-footer{
    width: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        margin: 0 auto;
        background-color:#2e2f42;
}
.container-footer{
    flex-direction: column;
}
 .logo-footer {
    display: inline-block;
    margin-bottom: 16px;
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
 }

.logo-footer span{
    color:#f4f4fd;
}


.text-footer{
    max-width: 264px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#F4F4FD ;
}
