h1,
h2,
h3{
    margin: 0;
}
p{
    margin: 0;
}
img{
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color: #fff;
}
 a {
    text-decoration: none;
 }
 ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
 }
 section{
    width: 100%;
    margin: o auto;
    padding-top: 120px;
    padding-bottom: 120px;
 }
 .container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
 }
 /*header*/
 .page-header{
    position:relative;
    background-color: #fff;;
    max-width: 1140px;
    max-height: 72px;
    border-bottom: 1px solid #e7e9fc;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 120px;
    padding-right: 120px;
}
.container-header{
     display:flex;
    justify-content: space-between;
}

.logo-1{
    margin-right: 76px;
} 
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#4d5ae5;
 }
 .logo span{
    color: #2e2f42;
 }
.nav-list{
    display:flex;
    gap: 40px;
   padding: 24px, 0;
}
.page-contact{
display:flex;
gap: 40px;
margin-right: 0;
}
 .nav-page{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
 }
 .nav-page:hover{
    color: #404bbf;
 }
 .nav-page:focus{
    color: #404bbf;
 }
 .page-contact{
    font-style: normal;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
 }
 .page-contact:hover{
    color:#404bbf;;
}
 .page-contact:focus{
    color:#404bbf;
 }
/*section_1*/
.section-title{
    width: 100%;
    height: 600px;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background: #2e2f42;
}
 .container-title{
    display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;

}
 .title{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    max-width: 496px;
    height: 120px;
    margin-bottom: 48px;
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align:center;
        color: #fff;
       
 }

.main-page-button{
    display: block;
    border: none;
    justify-content: flex-start;
    flex-direction: row;
     gap: 10px;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
}
.main-page-button:hover{
    background: #404BBF;
}
.main-page-button:focus{
    background: #404BBF;
}
/*benefits*/
.section-benefit{
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
     background-color: #FFFFFF;
}
.container-benefits{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 1128px;
    height: 104px;
  margin-top: 110px;
  padding-left: 120px;
  padding-right: 120px;
}
.text-benefit{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.title-1{
    visibility: hidden;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}

.benefit-items{
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 8px;
    width: calc ((100% - 3 * 24px) / 4);
    height: 104px;
}
.benefit-list{
      display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        flex-direction: row;
          
}
.title-benefit{
    margin-bottom: 8px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
/*team*/
.section-team{
    width: 100%;
    height: 732px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
    background: #f4f4fd;
}

.title-team{
    margin-bottom: 8px;
    text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;

}
.text-team{
    text-align: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team{ 
    gap: 24px;
    align-items: center;
    display: flex;

}
.team-list{
    margin-top: 62px;
    margin-bottom: 120px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
    border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px 0px;
        width: calc((100% - 3 * 24px) / 4);
        height: 380px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
            background: #fff;           
}
.team-descr{
    padding: 32px 0;
}
.main-title-team{
    margin-bottom: 72px;
display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}
/*portfolio*/
.section-portfolio{
    width: 100%;
    height: 1020px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
}
.main-title-portfolio{
    margin-bottom: 72px;
    width: 1128px;
        height: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.title-portfolio{
    margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.text-portfolio{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
#our-team,
#our-portfolio{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;

}


.portfolio-list{
    align-content: flex-start;
    display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
            width: calc((100% - 48px) / 3);
            height: 440px;
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio{
    column-gap: 24px;
    row-gap: 48px;
    margin-top: 70px;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.portfolio-descr{
    display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        border-bottom: 1px solid #e7e9fc;
            border-left: 1px solid #e7e9fc;
            border-right: 1px solid #e7e9fc;
            padding: 32px 16px;
            width: 360px;
            height: 120px;
}
/*footer*/
.section-footer{
 padding-top: 100px;
 padding-bottom: 100px;
 margin: 0 auto;
    width: 100%;
        height: 312px;
    background-color:#2e2f42;   
}
.logo-footer{
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#4d5ae5;
}
.logo-footer span{
    color:#f4f4fd;
}
.text-footer{

        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#F4F4FD ;
}
.container-footer{
    padding-top: 16px;
    padding-bottom: 16px;
    width: 264px;
        height: 112px;
}
